##导入宏定义
$!define

##设置表后缀（宏定义）
#setTableSuffix("WriteServiceImpl")

##保存文件（宏定义）
#save("/service/write/impl", "WriteServiceImpl.java")

##包路径（宏定义）
#setPackageSuffix("service.write.impl")

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import $!{tableInfo.savePackageName}.dao.write.$!{tableInfo.name}WriteDao;
import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.write.$!{tableInfo.name}WriteService;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

##表注释（宏定义）
#tableComment("表服务实现类")
@Transactional
@Service("$!tool.firstLowerCase($tableInfo.name)WriteService")
public class $!{tableName} extends ServiceImpl<$!{tableInfo.name}WriteDao, $!{tableInfo.name}> implements $!{tableInfo.name}WriteService {

}
